body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow: hidden;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    position: relative;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: opacity 2s ease;
    z-index: 9999;
    opacity: 1;
}

.loading{
    position: relative;
    bottom: 20px; 
    right: 20px;
}

.loadingroxy{
    max-width: 200px;
    position: relative;
    cursor: pointer;
}

.acariciame {
    position: absolute;
    bottom: 130px; /* Ajusta este valor según sea necesario */
    right: 50px; /* Ajusta este valor según sea necesario */
    width: 100px;
    max-width: 500px; /* Ajusta el tamaño según sea necesario */
}

.anexos{
   cursor: pointer;
    width: 50px;
    max-width: 50px;
}

.gif-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10000;
    margin: 10px;
    animation: fadeIn 1s ease-in-out 0s forwards;
    opacity: 0;
}

.gif-container img {
    width: 135px;
    height: auto;
}
@keyframes wave {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-18px);
    }
}

.wave span {
    display: inline-block;
    animation: wave 1s infinite;
    animation-delay: calc(var(--i) * 0.05s);
}
.wave {
    white-space: nowrap;
    font-family: cursive;
    font-weight: bold;
    
}
#animated-text {
    font-family: cursive;
    font-style: italic;
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #333; }
}

#cursor {
    
    display: none;
    border-right: .15em solid #333;
    animation: blink-caret .75s step-end infinite;
}
.nino {
    width: 90px; /* Ajusta el ancho según sea necesario */
    height: auto;
    animation: fadeIn 2s ease-in-out 1s forwards; /* Mantiene la proporción de la imagen */
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    to {
        transform: translateY(-10px);
    }
}

#confetti-container, #book-diploma-container, #tqm-container, #risamalvada-container, #like-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
}

.confetti, .book, .diploma, .tqm, .risamalvada, .like {
    position: absolute;
    opacity: 0.9;
    animation: fall linear infinite;
}

.confetti {
    width: 10px;
    height: 30px;
    background-color: #ff5e5e;
}

.confetti:nth-child(odd) {
    background-color: #ffec5e;
}

.book {
    width: 60px;
    height: 70px;
    background-image: url('book.png');
    background-size: cover;
}

.diploma {
    width: 60px;
    height: 70px;
    background-image: url('diploma.png');
    background-size: cover;
}

.tqm {
    width: 120px;
    height: 120px;
    background-image: url('tqm.jpg');
    background-size: cover;
}

.like {
    width: 100px;
    height: 100px;
    background-image: url('like.jpg');
    background-size: cover;
}


.risamalvada{
    width: 120px;
    height: 120px;
    background-image: url('risamalvada.jpg');
    background-size: cover;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer-text {
    display: block;
    margin: 10px 0;
    color: #ffecd2;
}

@media (max-width: 768px) {
    .container {
        padding: 3%;
        
    }
    .wave {
        font-size: 0.6em;
    }
    p {
        font-size: 0.4em;
      /*  margin-top: 5px;*/
    }
    .nino {
        max-width: 40px;
    }
    .footer-text{
        font-size: 0.5em;
    }
}